.hello {
  color: purple;
}

.regular {
  cursor: pointer;
  border: 2px solid black;
  box-shadow: 10px 10px black;
  background-image: url(/sun-illu.svg), url(/vintage-filter.svg);
  background-position: -10% -100%, 100%;
  background-repeat: no-repeat;
  background-color: #dbd976;
}

.vip {
  cursor: pointer;
  border: 2px solid black;
  box-shadow: 10px 10px black;
  background-image: url(/vinyl-1.svg), url(/vintage-filter.svg);
  background-position: -600% 200%, 100%;
  background-size: 104%;
  background-repeat: no-repeat;
  background-color: #d76f2d;
}

.cardlabel {
  position: absolute;
  left: 10%;
  top: -65%;
}

.cardlabel-container {
  position: relative;
}

.imgcontainer {
  position: relative;
}

.imgcontainer::before {
  content: "";
  background-image: url("/pink-flower.svg");
  position: absolute;
  width: 25rem;
  height: 20rem;
  left: -35%;
  top: -13.5rem;
  z-index: -1;
}
