@import url("https://fonts.googleapis.com/css2?family=Rethink+Sans:ital,wght@0,400..800;1,400..800&family=Spicy+Rice&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --main-1: #3a140b;
  --main-2: #fff8db;
  --background: var(--main-2);
}
h1 {
  font-size: clamp(2.5rem, 8vw, 3.8125rem);
  color: var(--main-1);
}

h2 {
  font-size: clamp(1.875rem, 6vw, 2.1875rem);
  color: var(--main-1);
}

h3 {
  font-size: clamp(1.25rem, 4vw, 1.4375rem);
  color: var(--main-1);
}

h4 {
  font-size: 1rem;
  font-weight: 600;
  color: var(--main-1);
}

p {
  font-size: clamp(1rem, 2vw, 1.125rem);
  color: var(--main-1);
}

p.small {
  font-size: clamp(0.625rem, 1.5vw, 0.825rem);
}

.display {
  font-size: 6rem;
  color: var(--main-1);
}
body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

.regular {
  cursor: pointer;
  border: 2px solid black;
  box-shadow: 10px 10px black;
  background-image: url(/sun-illu.svg), url(/vintage-filter.svg);
  background-position: -10% -100%, 100%;
  background-repeat: no-repeat;
  background-color: #dbd976;
}

.vip {
  cursor: pointer;
  border: 2px solid black;
  box-shadow: 10px 10px black;
  background-image: url(/vinyl-1.svg), url(/vintage-filter.svg);
  background-position: -600% 200%, 100%;
  background-size: 104%;
  background-repeat: no-repeat;
  background-color: #d76f2d;
}

.cardlabel {
  position: absolute;
  left: 10%;
  top: -65%;
}

.cardlabel-container {
  position: relative;
}

.imgcontainer {
  position: relative;
}

.imgcontainer::before {
  content: "";
  background-image: url("/pink-flower.svg");
  position: absolute;
  width: 25rem;
  height: 20rem;
  left: -35%;
  top: -13.5rem;
  z-index: -1;
}
/* 
input:focus {
  outline: 2px solid #3a140b;
  outline-offset: 2px;
}

input:user-invalid {
  border-color: red;
}

input:user-valid {
  border-color: green;
} */

.btn-style {
  color: #fff8db;
  font-family: "Rethink Sans";
  font-size: 1rem;
  background-color: #f0047f;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
  text-transform: uppercase;
  font-weight: 700;
  position: relative;
  max-width: 40%;
  &::after {
    position: absolute;
    top: 0;
    left: 0;
    background-color: #3a140b;
    z-index: -1;
    content: "";
    width: 100%;
    height: 100%;
    margin-left: 0.25rem;
    margin-top: 0.25rem;
    transition: all;
    transition-duration: 0.075s;
  }
  &:hover {
    color: #fff8db;
    transition: all;
    transition-duration: 0.075s;
    &::after {
      margin-left: 0;
      margin-top: 0;
    }
  }
  &:active {
    background-color: #3a140b;
    color: #fff8db;
  }
}

.select-container {
  display: flex;
  justify-content: center;
  position: relative;
  min-width: 250px;
  height: 50px;
}

.select-box {
  border: none;
  appearance: none;
  padding: 0 35px 5px 0px;
  width: 100%;
  background-color: #fff8db;
  display: flex;

  outline: none;
  border: none;
  gap: 10px;
  cursor: pointer;
  text-align: end;
}

.select-icon {
  position: absolute;
  right: 0;
  display: flex;
  justify-content: center;
  align-self: center;
  top: 1px;
}
