@import url("https://fonts.googleapis.com/css2?family=Rethink+Sans:ital,wght@0,400..800;1,400..800&family=Spicy+Rice&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #fff8db;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    /* --background: #0a0a0a;
    --foreground: #ededed; */
  }
}

.test {
  color: blue;
}

/* input {
  background-color: red;
  color: green;
} */

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

.regular {
  cursor: pointer;
  border: 2px solid black;
  box-shadow: 10px 10px black;
  background-image: url(/sun-illu.svg), url(/vintage-filter.svg);
  background-position: -10% -100%, 100%;
  background-repeat: no-repeat;
  background-color: #dbd976;
}

.vip {
  cursor: pointer;
  border: 2px solid black;
  box-shadow: 10px 10px black;
  background-image: url(/vinyl-1.svg), url(/vintage-filter.svg);
  background-position: -600% 200%, 100%;
  background-size: 104%;
  background-repeat: no-repeat;
  background-color: #d76f2d;
}

.cardlabel {
  position: absolute;
  left: 10%;
  top: -65%;
}

.cardlabel-container {
  position: relative;
}

.imgcontainer {
  position: relative;
}

.imgcontainer::before {
  content: "";
  background-image: url("/pink-flower.svg");
  position: absolute;
  width: 25rem;
  height: 20rem;
  left: -35%;
  top: -13.5rem;
  z-index: -1;
}

input:focus {
  outline: 2px solid #3a140b;
  outline-offset: 2px;
}

input:user-invalid {
  border-color: red;
}

input:user-valid {
  border-color: green;
}
