@import url("https://fonts.googleapis.com/css2?family=Rethink+Sans:ital,wght@0,400..800;1,400..800&family=Spicy+Rice&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #fff8db;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    /* --background: #0a0a0a;
    --foreground: #ededed; */
  }
}

.test {
  color: blue;
}

input {
  background-color: red;
  color: green;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

.regular {
  cursor: pointer;
  border: 2px solid black;
  box-shadow: 10px 10px black;
  background-image: url(/sun-illu.svg), url(/vintage-filter.svg);
  background-position: -10% -100%, 100%;
  background-repeat: no-repeat;
  background-color: #dbd976;
}

.vip {
  cursor: pointer;
  border: 2px solid black;
  box-shadow: 10px 10px black;
  background-image: url(/vinyl-1.svg), url(/vintage-filter.svg);
  background-position: -600% 200%, 100%;
  background-size: 104%;
  background-repeat: no-repeat;
  background-color: #d76f2d;
}

.cardlabel {
  position: absolute;
  left: 10%;
  top: -65%;
}

.cardlabel-container {
  position: relative;
}

.imgcontainer {
  position: relative;
}

.imgcontainer::before {
  content: "";
  background-image: url("/pink-flower.svg");
  position: absolute;
  width: 25rem;
  height: 20rem;
  left: -35%;
  top: -13.5rem;
  z-index: -1;
}
.btn-style {
  color: #fff8db;
  font-family: "Rethink Sans";
  font-size: 1rem;
  background-color: #f0047f;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
  text-transform: uppercase;
  font-weight: 700;
  position: relative;
  max-width: 40%;
  &::after {
    position: absolute;
    top: 0;
    left: 0;
    background-color: #3a140b;
    z-index: -1;
    content: "";
    width: 100%;
    height: 100%;
    margin-left: 0.25rem;
    margin-top: 0.25rem;
    transition: all;
    transition-duration: 0.075s;
  }
  &:hover {
    color: #fff8db;
    transition: all;
    transition-duration: 0.075s;
    &::after {
      margin-left: 0;
      margin-top: 0;
    }
  }
  &:active {
    background-color: #3a140b;
    color: #fff8db;
  }
}
